footer section:first-child {
    flex-wrap: wrap;
}

.footer__feedback {
    width: max(375px, calc(100vw - 316px));
    margin: 23px 0px 0px;
}

.footer__social-media {
    align-self: center;
}

@media screen and (max-width: 676px) {
    .footer__info ul {
        column-gap: calc(100vw / 4.05 + 214px / 4.05)
    }
    footer section:first-child {
        flex-direction: column;
    }
    footer section:last-child {
        justify-content: center;
    }
    .main__small-articles {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 575px) {
    footer section:last-child {
        flex-direction: column;
        gap: 20px;
    }
}

.main__filter {
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 8px 0px;
}

.main__filter::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
}

.main__filter::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, var(--primary-color) 0%, var(--active-color) 100%);
    border-radius: 5px;
}

.main__filter::-webkit-scrollbar-track {
    background-color: var(--article-filter-color);
    border: 1px solid var(--article-border-color);
    border-radius: 4px;
}

.main__filter::-webkit-scrollbar-track:hover {
    box-shadow: 0px 0px 10px var(--primary-color);
}

.main__big-articles {
    grid-template-columns: 1fr;
}

.main__big-articles__article__image {
    height: max(206px, calc(100vw / 1.79 - 45.97px / 1.79));
}

.main__big-articles__article__info {
    height: max(190px, calc(100vw / -5.06 - 1729px / -5.06));
}

.main__article__content__two-cards {
    grid-template-columns: 1fr;
    gap: var(--big-gap-size);
}

.main__article__content__two-cards figure {
    display: flex;
    gap: var(--big-gap-size);
}

.main__article__content__two-cards figure:last-child {
    flex-direction: row-reverse;
}

.main__article__content__two-cards figure img {
    max-width: 50vw;
}